pyecvl>=0.2.0

Django
djangorestframework
markdown       # drf: Markdown support for the browsable API
django-filter  # drf: Filtering support
pyyaml         # drf: Generate OpenAPI
uritemplate    # drf: Generate OpenAPI
django-cors-headers # drf: enables CORS
celery   # Runs training processes
sqlalchemy  # Required by celery
django-environ
requests
psycopg2-binary # Allow to connect to PostgreSQL database
django-environ  # Utilize 12factor inspired environment variables to configure Django application
gunicorn        # WSGI implementation for a production deploy
drf-yasg #[validation]
# django-oauth-toolkit

# PyEDDL/PyECVL requirements
numpy
pybind11
pytest