Django<3
djangorestframework<3.11
markdown       # drf: Markdown support for the browsable API
django-filter  # drf: Filtering support
django-cors-headers # drf: enables CORS
celery   # Runs training processes
sqlalchemy  # Required by celery

# PyEDDL/PyECVL requirements
numpy
pybind11
pytest